<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/empresas.css" />
  <title>BanCode Empresas</title>
</head>

<body>
  <section class="contenedorPersonasEmpresa">
    <nav>
      <a href="../../../index.html">Personas</a>
      <span>|</span>
      <a href="./empresas.html">Empresas</a>
    </nav>
    <div class="contenedorInputModoNoche">
      <section>
        <input type="search" placeholder="Buscar " />
        <button>&times;</button>
      </section>
      <img src="../img/sun.png" alt="modoNoche" />
    </div>
  </section>

  <header>
    <img src="../img/logoBancodeSinFondo.png" alt="logoBancode" />

    <section class="contenedorNavBotonesHeader">
      <nav>
        <a href="../../../index.html">Inicio</a>
        <a href="../pages/preguntas.html">Preguntas frecuentes</a>
      </nav>
      <button class="botonHazteCliente">
        <a href="./registro.html">¡Hazte Cliente!</a>
      </button>
      <button class="botonIngresar">
        <img src="../img/avatar.png" alt="user" />Ingresar
      </button>
    </section>
  </header>

  <main>
    <div class="mainCredit">
      <h1>Crédito que apoya tu <span>empresa</span></h1>
      <hr />
      <p>Nuestro crédito viene con asesoría incluida.</p>
      <button>Descubre más</button>
    </div>
    <img src="../img/finanzasMain.png" alt="imgSlider" />

    <span class="arrowLeftSliderMain">
       </span>
        <span class="arrowRightSliderMain"> > </span>
  </main>

  <article>
    <div class="encabezadoArticle">
      <h1>Apoyamos el desarrollo de tu empresa</h1>
      <p>o idea de negocio</p>
    </div>
    <div class="contenidoArticle">
      <p>
        <span>BANCODE</span> te brindará al desarrollo y crecimiento de tu
        empresa, mediante el crédito y asesoramiento, si tienes una idea de
        negocio la potencializamos con herramientas. ¿Qué esperas? Sé parte de
        nuestra familia ya.
      </p>
      <img src="../img/autorizacion.png" alt="imgApoyo" />
    </div>
  </article>

  <section class="simuladorContainer">
    <div class="simuladorBanner">
      <div class="simuladorContenido">
        <h1>Simula tu crédito empresarial</h1>
        <p>BanCode te ayuda a programar y diseñar tu empresa.</p>
        <button class="btnSimular">Simular</button>
      </div>
      <img src="../img/estudiosComputador.png" alt="imgComputador" />
    </div>
  </section>

  <section class="contenedorAcompañamiento">
    <div class="encabezadoAcompañamiento">
      <h1>Te acompañamos en todo momento</h1>
      <p>
        Te acompañaremos en cada etapa con un asesoramiento personalizado. Y
        lo mejor, <span>será 24 horas.</span>
      </p>
    </div>

    <div class="afiliados">
      <p>+30.000 empresas nos recomiendan</p>
    </div>
  </section>

  <section class="clienteContenedor">
    <div class="clienteContenido">
      <h1>Forma parte de nosotros</h1>
      <p>
        Únete a nosotros y aprovecha todos los beneficios empresariales que
        tenemos.
      </p>
      <button>Quiero ser cliente</button>
    </div>
  </section>

  <button class="botonAtencionFlotante">
    <img src="../img/phone.png" alt="phone" />
  </button>

  <footer>
    <section class="footerContenido">
      <div class="logosAsociados">
        <img src="../img/logoBancodeSinFondo.png" alt="logoBancode" />
        <img class="logoCesdeFooter" src="../img/cesdeFondoRosa.png" alt="logoCesde" />
        <img class="logoTuyaFooter" src="../img/tuya.png" alt="logoTuya" />
      </div>

      <div class="atencion">
        <p>Líneas de atención:</p>
        <ul>
          <li>(+57) XXX XXX XXX</li>
          <li>(+57) XXX XXX XXX</li>
          <li>(+57) XXX XXX XXX</li>
        </ul>
      </div>

      <div class="logosRedes">
        <img src="../img/instagram.png" alt="logoInstagram" />
        <img src="../img/facebook.png" alt="logoFacebook" />
        <img src="../img/twitter.png" alt="logoTwitter" />
        <img src="../img/youtube.png" alt="logoYoutube" />
      </div>
    </section>
    <p>
      &copy; Desarrollado por estudiantes del CESDE, Todos los derechos
      reservados
    </p>
  </footer>
  <script src="../js/empresas.js"></script>
</body>

</html>