<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Preguntas Frecuentes</title>
</head>

<body>

    <section class="contenedorPersonasEmpresa">
        <nav>
            <a href="../../../index.html">Personas</a>
            <span>|</span>
            <a href="../pages/empresas.html">Empresas</a>
        </nav>
        <div class="contenedorInputModoNoche">
            <section>
                <input type="search" placeholder="Buscar ">
                <button>&times;</button>
            </section>
            <img src="../img/sun.png" alt="modoNoche">
        </div>
    </section>

    <header>
        <div>

            <img src="../img/logoBancodeSinFondo.png" alt="logoBancode">

            <img onclick="hamburguerMenu(event)" class="menuHamburguesa" src="../img/menuHamburguesa.png" alt="">

        </div>

        <section class="contenedorNavBotonesHeader">
            <nav>
                <a href="../../../index.html">Inicio</a>
                <a href="../../../index.html">Productos</a>
            </nav>
            <button class="botonHazteCliente"><a href="./registro.html">¡Hazte Cliente!</a></button>
            <button class="botonIngresar">
                <img src="../img/avatar.png" alt="user">
                <a href="./login.html">Ingresar</a>
            </button>
        </section>

    </header>

    <section class="contenedorPreguntasFrecuentes">
        <h2>Preguntas Frecuentes</h2>

        <div class="preguntaUno">
            <div>
                <h4>
                    ¿Qué necesito para abrirme una cuenta BanCode?
                </h4>
                <img class="flechaPreguntasFrecuentes" onclick="toggleQuestions(event)" src="../img/arrowtop.png"
                    alt="">
            </div>
            <ul>
                <li>-Documento de identidad</li>
                <li>-Ser mayor de 14 años</li>
                <li>-Tener un dispositivo móvil o computador</li>
                <li>-Tener correo eléctronico</li>
            </ul>
        </div>

        <section class="preguntaDos">
            <div>
                <h4>
                    ¿Qué es una simulación de crédito?
                </h4>
                <img class="flechaPreguntasFrecuentes" src="../img/arrowtop.png" alt="">
            </div>
            <ul>
                <li>
                    -Primero tener una cuenta abierta en BanCode
                </li>
                <li>-En este servicio se mostrará una simulación de crédito, donde ingresarás el valor del crédito que
                    necesites y el número de cuotas</li>
                <li>-En este servicio te brindaremos una asesoria para estructurar tus deudas, financiar tus proyectos y
                    realizar tus sueños</li>
            </ul>
        </section>

        <div class="preguntaTres">
            <div>
                <h4>
                    ¿Se puede brindar un beneficio fuera del campo de la programación
                </h4>
                <img class="flechaPreguntasFrecuentes" src="../img/arrowtop.png" alt="">
            </div>
            <ul>
                <li>-En BanCode también brindamos un gran apoyo, por fuera de las carreras o emprendimientos de
                    tecnología</li>
                <li>-Nuestro objetivo es apoyarte en tus sueños</li>
            </ul>
        </div>

        <section class="preguntaCuatro">
            <div>
                <h4>
                    ¿Qué servicios tengo con BanCode?
                </h4>
                <img class="flechaPreguntasFrecuentes" src="../img/arrowtop.png" alt="">
            </div>
            <ul>
                <li>-Créditos</li>
                <li>-Tarjeta física y tarjeta virtual</li>
                <li>-14% cashback</li>
                <li>-Cuenta de ahorros</li>
                <li>-Plan de inversión</li>
            </ul>
        </section>

    </section>

    <footer>
        <section>
            <div class="contenedorLogosFooter">
                <img src="../img/logoBancodeSinFondo.png" alt="logoBancode">
                <img class="logoTuyaFooter" src="../img/tuya.png" alt="logoTuya">
                <img class="logoCesdeFooter" src="../img/cesdeFondoRosa.png" alt="logoCesde">
            </div>
            <section class="contenedorLineasFooter">
                <h4>Líneas de atención: </h4>
                <ul>
                    <li>(+57) XXX XXX XXX</li>
                    <li>(+57) XXX XXX XXX</li>
                    <li>(+57) XXX XXX XXX</li>
                </ul>
            </section>
            <div class="contenedorRedesFooter">
                <img src="../img/instagram.png" alt="logoInstagram">
                <img src="../img/facebook.png" alt="logoFacebook">
                <img src="../img/twitter.png" alt="logoTwitter">
                <img src="../img/youtube.png" alt="logoYoutube">
            </div>
        </section>
        <p>
            &copy; Desarrollado por estudiantes del CESDE, Todos los derechos reservados
        </p>
    </footer>
    <script src="../js/main.js"></script>
</body>

</html>